body {
    width: 100%;
    height: 100%;
    background-color: rgb(54, 54, 68);
}

.synthContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.step-sequencer, .globalEnvelope, .detuneCntrl, .filterCntrl, .FX, .global, .modulation {
    border: 1px solid rgb(0, 217, 255);
    color: white;
}

.globalEnvelope, .detuneCntrl, .filterCntrl, .FX, .global, .modulation {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.FX input {
    float: right;
}

.FX span {
    float: left;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    border-radius: 3px;   
    background: #0bff79;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%; 
    background: rgb(250, 91, 255);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
 }

h2 {
    font-family: 'Orbitron', sans-serif;
}

h3 {
    font-family: 'VT323', monospace;
}

span {
    font-family: 'Jura', sans-serif; 
}

.step-sequencer {
    width: 425px;
    grid-column: 2;
    grid-row: span 3/1;
    text-align: left
}

.step-sequencer div {
    float: right;
    margin-right: 15px;
}

input[type=checkbox] {
    display: none;
}
    
input[type=checkbox] + label {
    background: #999;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 4px;
    height: 15px;
    width: 15px;
    display:inline-block;
    padding: 0 0 0 0px;
}

input[type=checkbox]:checked + label {
    background: rgb(70, 70, 173);
    border: 2px solid rgb(189, 189, 255);
    border-radius: 4px;
    box-shadow: 0px 0px 5px 2px rgb(87, 87, 196);
    height: 15px;
    width: 15px;
    display:inline-block;
    padding: 0 0 0 0px;
}